$def with(data=dict(),paginas=1,paginaActual=0,final=0,totalPaginas=0)
$ lineas = data["cancionesTodas"]
<div class="row">
<div class="large-12 columns">
<div class="panel">
<div class="container">
  $for pagina in range(1, paginas + 1):
    <a href="?pagina=$pagina">$pagina</a>
  <center><h2>Lista de canciones</h2></center>
  <center><p><b>Canciones disponibles dentro de la librería de Pypotify</b></p> </center>           
  <table class="table table-hover" align="center">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Artista</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      $for i in range(final,paginaActual*totalPaginas):
      <tr>
        <td align="center"> $lineas[i].strip().split('<SEP>')[3]</td>
        <td align="center"> $lineas[i].strip().split('<SEP>')[2]</td>
        <td align="center"> $lineas[i].strip().split('<SEP>')[1]</td>
     </tr>
    </tbody>
  </table>
  $for pagina in range(1, paginas + 1):
    <a href="?pagina=$pagina">$pagina</a>
</div>
</div>
</div>
</div>
</body>
</html>